streamlit==1.32.2
plotly==5.11.0
pandas==1.5.2
prophet==1.1.2
shareplum==0.5.1
openpyxl==3.0.10
sqlalchemy==1.4.46
mysql-connector-python==8.0.31
streamlit-aggrid==0.3.3
streamlit-authenticator==0.1.5